@import '../../../common/styles/Variablies';

.links {

  a {
    margin: 10px;

    @media (max-width: 555px) {
      margin: 2px
    }

    &:hover svg {
      fill: $bgSecondColor;
    }

    svg {
      height: 30px;
      width: 30px;
      fill: white;
      //opacity: .5;
      transition-duration: 0.3s;
      @media (max-width: 555px) {
        height: 20px;
        width: 20px;
      }
    }
  }

  .language {
    display: inline-block;
    margin-left: 20px;
    @media (max-width: 555px) {
      margin-left: 10px;
    }

    span {
      cursor: pointer;
    }

    .active {
      color: $bgSecondColor;
    }
  }
}


